body{
    background-image: url(img/mar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.banner{
    height: 60px;
    width: 50%;
}
.logo{
    width: 50%;
}
a{
    text-decoration: none;
    color: white;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul li{
    float: right;
    padding: 10px;
    display: inline;
    margin-top: -40px;
}
ul li a{
    font-size: 20px;
    border: 2px solid white;
    padding: 10px;
    margin: 0 20px;
    display: inline;
    border-radius: 10px;
}
ul li a:hover{
    background-color: rgb(114, 235, 44);
    transition: 0.4s;
}
.myslf{
    font-family: arial;
    color: white;
    height: 200px;
    width: 100%;
    margin-top: 50px;
}
h1{
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
    text-shadow: 10px 10px 10px black;
}
p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    text-shadow: 10px 10px 10px rgb(214, 128, 128);
}

.abot{
    border: 2px solid white;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    background-color: rgb(203, 233, 186);
}
h2{
    text-align: center;
    font-family: arial;
    font-size: 30px;
}

hr{
    color: green;
    outline: 1px solid yellow;
    width: 50%;
}
h3{
    text-align: center;
    font-family: arial;

}
li{
    font-family: arial;
    margin-left: 20px;
}
.work{
    border: 2px solid rgb(255, 255, 255);
    height: 150px;
    width: 300px;
    box-shadow: 20px 20px 10px black;
}
.exe{
    border: 2px solid rgb(255, 255, 255);
    height: 150px;
    width: 300px;
    box-shadow: 20px 20px 10px black ;
    margin-left: 400px;
    margin-top: -150px;
}
.learn{
    border: 2px solid rgb(255, 255, 255);
    height: 150px;
    width: 300px;
    box-shadow: 20px 20px 10px black;
    margin-left: 800px;
    margin-top: -150px;
}
.work:hover{
    background-color: lightblue;
    transition: 0.4s;
}
.exe:hover{
    background-color: lightgreen;
    transition: 0.4s;
}
.learn:hover{
    background-color: lightsalmon;
    transition: 0.4s;
}

.service{
    border: 2px solid lightgrey;
    height: 500px;
    width: 100%;
    border-radius: 15px;
    background-color: lightpink;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
}
.ser{
    font-family: verdana;
    text-align: left;
    margin-top: 50px;
}
.hm{
    float: left;
    width: 30%;
}
img{
    height: 500px;
    width: 600px;
    float: right;
    margin-top: -163px;
}
b{
    font-size: 30px;
}
.sm{
    margin-left: 50px;
}
.msg{
    border: 2px solid red;
    background-color: lightblue;
    height: 500px;
    width: 100%;
    border-radius: 10px;
}
.lev{
    color: rgb(0, 0, 0);
    font-family: arial;
    margin-top: 3px;

}
input{
    background-color: lightblue;
    text-align: center;
    margin-left: 330px;
    height: 50px;
    width: 50%;
    box-shadow: 10px 10px 10px black;
}
textarea{
    height: 150px;
    width: 400px;
    background-color: lightblue;
    margin-left: 450px;
    box-shadow: 10px 10px 10px black;
}
button{
    height: 40px;
    width: 100px;
    background-color: lightblue;
    margin-left: 600px;
    box-shadow: 10px 10px 10px black;
    
}

.footer{
    border: 2px solid red;
    height: 50px;
    width: 100%;
    background-color: rgb(9, 126, 19);
}
footer{
    font-family: Arial;
    color: rgb(0, 0, 0);
    padding: 5px;
}